OPolyglot
src/Version.h
build/*
src/*.swp
src/*.swp
dists/lang-models/uploads_files/*
bin/*
*.swp
*.mo
*.po~
*.*.snap
opsetup.exe
translate.txt
*.flatpak
OPolyglot-x86_64.AppImage
linuxdeploy-plugin-gtk.sh
linuxdeploy-x86_64.AppImage
.windows-serial
