[Desktop Entry]
Name=OPolyglot
Comment=Secure offline translator with OCR
Exec=opolyglot
Icon=io.sourceforge.opolyglot
Terminal=false
Type=Application
Categories=Office;
